
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<!-- Use light theme in this component, not the app's dark theme. -->
<link rel="import" href="../../bower_components/px-theme/px-theme-styles.html">
<link rel="import" href="../../bower_components/px-datetime-range-field/px-datetime-range-field.html">

<dom-module id="view-2">
    <template>
        <style include="px-theme-styles">
            px-card {
                background: white;
            }
        </style>
        <h1>Carbon Emissions Graph</h1>
        <px-card header-text="Analize Data Range" icon="px-fea:analysis">
            <div style="background: white;">
            <px-datetime-range-field allow-wrap date-format="YYYY/MM/DD" time-format="HH:mm:ss" time-zone="UTC" show-time-zone="abbreviatedText"
                range='{{dateRange}}' min='"2017-10-17T22:37:04.209Z"' max='"2017-10-31T22:37:04.209Z"'>
            </px-datetime-range-field>
            <div>Selected Range: {{dateRange.from}} - {{dateRange.to}}</div>
        </div>
        </px-card>
    </template>
    <script>

        "use strict";

        Polymer({
            is: "view-2",
            properties: {
                dateRange: {
                    type: Object,
                    defaultValue: { from: '2017-10-17T00:00:00.000Z', to: '2017-10-24T00:00:00.000Z' },
                    inputType: 'code:JSON'
                },
                sliderRange: {
                    type: Object,
                    default: {},
                    inputType: 'code:JSON'
                }
            },
            observers: [
                "onDateRangeChanged(dateRange)"
            ],
            ready: function () {
                console.log("view2 ready()");
            },
            onDateRangeChanged: function(dateRange) {
                // refresh chart
            }
        });
    </script>
</dom-module>
