<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../df-traffic-timeseries/df-traffic-timeseries.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-datetime-range-field/px-datetime-range-field.html">

<!-- Use light theme in this component, not the app's dark theme. -->
<link rel="import" href="../../bower_components/px-theme/px-theme-styles.html">
<script src="../../bower_components/moment/min/moment.min.js"></script>

<!--
import is done in seef-app since it is needed by both views
<link rel="import" href="../../bower_components/px-card/px-card.html">
-->

<dom-module id="view-1">
    <template>
        <style include="px-theme-styles">
            px-card {
                background: white;
            }
        </style>


        <!--
          Note: Load data can insead be pulled by replacing the service-endpoint value as such:
            service-endpoint="/api/MMSanFrancisco_timeseries_loadData/v1/tags"
            service-endpoint="/api/predix-timeseries/v1/datapoints" (personal instance in current space)

          Documentation on Timeseries APIs can be found here: https://www.predix.io/api#!/Time_Series
        -->
        <!-- <df-timeseries-ajax-client id="tsTagClient" method="POST" service-endpoint="json"
            raw-ts-data="{{rawTsTagData}}" auto></df-timeseries-ajax-client> -->
        <iron-ajax
            id="jsonService"
            url="/json"
            handle-as="json"
            on-response="handleResponse"
            debounce-duration="300"></iron-ajax>

        <px-card header-text="Analize Emissions" icon="px-fea:analysis">
            <div>
                <div>

<px-vis-timeseries debounce-resize-timing="250" width="798.015625" height="296" chart-horizontal-alignment="center" chart-vertical-alignment="center"
    margin='{"top":30,"bottom":60,"left":65,"right":65}' tooltip-config='{}' register-config='{"type":"horizontal"}' selection-type="xy"
    chart-data="[[chartData]]" series-config='{"y0":{"name":"Average Speed","x":"timeStamp","y":"avgSpeed","yAxisUnit":"MPH","axis":{"id":"axis1","side":"left","number":"1"}},"y1":{"name":"Number Vehicles","x":"timeStamp","y":"numVehicles","yAxisUnit":"cars","axis":{"id":"axis2","side":"right","number":"1"}},"y2":{"name":"Emissions","x":"timeStamp","y":"emissions","yAxisUnit":"lbs CO2","axis":{"id":"axis3","side":"left","number":"2"}}}'
    chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
    threshold-data='[{"for":"y0","type":"max","value":15.4784},{"for":"y0","type":"min","value":9.6531}]' display-threshold-title
    threshold-config='{"max":{"color":"red","dashPattern":"5,0","title":"MAX","showThresholdBox":true,"displayTitle":true}}'
    x-axis-config='{"title":"Date"}' y-axis-config='{"title":"Single","titleTruncation":false,"unit":"F","axis1":{"title":"Average Speed","titleTruncation":false,"unit":"MPH"}}'
    dynamic-menu-config='[{"name":"Delete","action":"function(data) {var conf = {}, keys=Object.keys(this.seriesConfig); for(var i=0; i<keys.length;i++) { if(keys[i] !== data.additionalDetail.name) {conf[keys[i]] = this.seriesConfig[keys[i]];}} this.set(\"seriesConfig\", conf);}","eventName":"delete","icon":"px-vis:trash-series"},{"name":"Bring To Front","action":"function(data) {this.set(\"serieToRedrawOnTop\", data.additionalDetail.name);}","eventName":"bring-to-front","icon":"px-vis:bring-to-front"}]'
    toolbar-config='{"config":{"advancedZoom":true,"pan":true,"tooltip":true,"logHover":{"buttonGroup":2,"tooltipLabel":"The submenu item of this menu will define custom mouse interaction","icon":"px-nav:notification","subConfig":{"customClick":{"icon":"px-nav:expand","buttonGroup":3,"tooltipLabel":"define some custom mouse interactions on chart","eventName":"my-custom-click","actionConfig":{"mousedown":"function(mousePos) { console.log(\"custom click on chart. Context is the chart. Mouse pos is available: \" + JSON.stringify(mousePos))}","mouseup":"function(mousePos) { console.log(\"custom action on mouse up the chart \" + JSON.stringify(mousePos));}","mouseout":"function(mousePos) { console.log(\"custom action on mouse out the chart \" + JSON.stringify(mousePos));}","mousemove":"function(mousePos) { console.log(\"custom action on hovering the chart \");}"}},"customClick2":{"buttonGroup":3,"icon":"px-nav:collapse","tooltipLabel":"Remove all custom interactions","actionConfig":{"mousedown":null,"mouseup":null,"mouseout":null,"mousemove":null}}}}}}'
    navigator-config='{"xAxisConfig":{"tickFormat":"%b %d"}}'></px-vis-timeseries>
                </div>
            </div>
        </px-card>


    </template>

    <script>

        "use strict";

        Polymer({
            is: "view-1",
            properties: {
                chartData: {
                    type: Array
                }
            },
            ready: function () {
                console.log("Dashboard ready");
                this.$chartData = this.$.jsonService.generateRequest().data;
            },
            handleResponse: function(data){
                console.log(data);
                this.$.chartData = data;
            }
        });
    </script>
</dom-module>
